{% extends "flashfacts/layout.html" %}
{% load static %}

{% block title %}About | Flash Facts{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content mb-3">
        <div class="col-md-8">
            <h2 class="mb-3">About</h2>
            <p>This app uses the Numbers API provided by <a href="https://rapidapi.com/divad12/api/numbers-1/" target="_blank">Rapid API</a> and stock images from <a href="https://pexels.com" target="_blank">Pexels</a>.</p>
            <p><em>Flash Facts</em> is gateway to fascinating events, discoveries, and stories that have unfolded around the world on any given day.</p>
            <p>It's astonishing to think about the vast tapestry of history and how each day contributes to the story of humanity.</p>
            <figure>
                <blockquote class="blockquote">
                  <p>Flash Facts</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Get ready to be surprised, informed, and entertained — one fact at a time. (<cite title="Source Title">James Flores</cite>)
                </figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}
